<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>LaMa 실험</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/style.css" rel="stylesheet" />
    <link href="static/color-picker.css" rel="stylesheet" />
  </head>
  <link href="static/drawingboard.min.css" rel="stylesheet" />

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script src="static/drawingboard.min.js" type="text/javascript"></script>

  <body>
    <!-- Navigation -->

    <style> #zbeubeu { width: 400px; height: 400px; }</style>

    <nav class="navbar navbar-expand-lg navbar-light static-top green-background">
      <div class="container">
        <a class="navbar-brand rubik branding" href="#">
          LaMa 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link rubik" data-target="#GuideModal">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link rubik" data-toggle="modal" data-target="#GuideModal">Guide</a>
            </li>
            <li class="nav-item">
              <a class="nav-link rubik" data-toggle="modal" data-target="#ContactModal">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col">
            <div id="sidebar" class="sidebar">
              <div class="extra">
                <h4 class="rubik">Upload</h4>
                <div class="row">
                  <div class="col">
                    <button id="left-button" type="button" class="btn btn-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                      </svg>
                    </button>
                  </div>
                  <div class="col">
                    <button id="right-button" type="button" class="btn btn-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                      </svg>
                    </button>
                  </div>
                </div>
                <a id="uploadimage" class="btn btn-warning">Inpaint</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" id="container_col">
            <div class="row">
              <div id="zbeubeu"></div>
            </div>
          </div>
          <div class="col">
            <img class="img-fluid" src="" height="100%" width="100%" id="image" />
          </div>
        </div>
        <p class="tips rubik"></p>
      </div>
    </div>
  

    <!-- Modal -->
    <div class="modal fade" id="GuideModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Guide</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <p>
              This is a web interface that converts human sketches to
              photorealistic images.
            </p>
            <p>
              Use the drawing pad on the left to draw, then click "Convert to
              photo" to see magic happen! 😊
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ContactModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Contact</h5>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <p>Our GitHub repo is https://github.com/noyoshi/smart-sketch</p>
            <p>Feel free to contact us!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="static/index.js" type="text/javascript"></script>
    <meta id="dir" data-dir="{{ name }}" />
    <script type="text/javascript">
      let x = $('#dir').data('dir');
      init_img(x);
    </script>
  </body>
</html>
